node_modules
dist
build
.turbo
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store
*.tsbuildinfo
apps/web/dist
apps/api/dist
apps/worker/dist
packages/shared-types/dist
.idea
.vscode/*
!.vscode/extensions.json
prisma/migrations/**/migration_lock.toml.bak
docker/grafana/data
docker/prometheus/data
